{% extends 'food/base.html' %}
{% block content %}

<h1>Популярные тенденции и направления в фитнесе</h1>
<div class="fitness">
    Занятия фитнесом нельзя назвать спортом. Это разные реалии. В спорте на первом месте победы, рекорды, медали, очки.
    Хотелось бы сказать, что здоровье на втором месте, но — нет. Спорт высоких достижений вообще не про здоровье.<br><br>

    Тренировки в фитнесе, напротив, нацелены на улучшение здоровья, развитие выносливости,
    совершенствование физической формы и внешнего вида. Они не несут рисков для здоровья.
    Напротив, нагрузки увеличиваются постепенно и понемногу, чтобы похудеть или улучшить спортивную форму
    без вреда для здоровья. А если и побить рекорд, то только собственный.
    В фитнесе более сотен программ и направлений.<br><br><br>
    Программы, имеющие схожие задачи и характеристики, объединяют в направления:

    {% for fit in fitness %}
    <div class="training"><a href="{% url 'type-of-training' fit.id %}">
        <div><img src="{{ fit.image.url }}" alt="" class="fit_img"></div>
        <div class="training_title">{{ fit.type_of_training }}</div>
    </a></div>
    {% endfor %}
</div>

{% endblock %}